---
title: 'Creating<br> magic together'
image: '/assets/img/hero.jpg'
layout: default
jars: |
    <div class="hero__base__jars">    
        <a href="/smoked-garlic-paste/" class="jar hero__base__jars__jar">
            <img alt="Jar of Bart's Smoked Garlic" src="/assets/img/garlic.png"></a>
        
        <a href="/black-garlic-paste/" class="jar hero__base__jars__jar">
            <img alt="Jar of Bart's Black Garlic" src="/assets/img/black.png"></a>
    </div>
base: |
    <h2><span class="u-green">New</span> In Store &amp; Online
        <br>11th of Nov 2019
    </h2>
    <p>Add a spoonful of inspiration to your meals 
        with Bart <a target="_blank" href="/black-garlic-paste/">Black Garlic</a> &amp; <a target="_blank" href="/smoked-garlic-paste/">Oak-Smoked Garlic</a> pastes.</p>                     
---
{% include hero.html %}
{% include recipes.html %}