    <footer class="section section--extra footer">
        <div class="section__row">
            <div class="grid">
                <div class="grid__unit grid__unit--quarter">
                    <form class="footer__column form" action="https://bart-ingredients.us5.list-manage.com/subscribe/post?u=17e95f6b2a2ac56c840ed388d&amp;id=e966ff8032" method="post" novalidate>
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_17e95f6b2a2ac56c840ed388d_e966ff8032" tabindex="-1" value=""></div>
                        <h2>Subscribe</h2>
                        <p>New website coming soon!</p>
                        <p><input placeholder="Email" type="email" value="" name="EMAIL" class="form__text"></p>                        
                        <p><button type="submit" name="subscribe" class="button">Sign up</button></p>                            
                    </form>
                </div>
                <div class="grid__unit grid__unit--quarter">
                    <ul class="footer__column u-no-points">
                        <li><a target="_blank" class="footer__link" href="https://market.bart-ingredients.co.uk/">Buy Bart</a></li>
                        <li><a target="_blank" class="footer__link" href="https://bart-ingredients.co.uk/ingredients/">Ingredients</a></li>
                        <li><a target="_blank" class="footer__link" href="https://bart-ingredients.co.uk/recipes/">Recipes</a></li>
                        <li><a target="_blank" class="footer__link" href="https://bart-ingredients.co.uk/about-us-2/">About Us</a></li>                        
                    </ul>
                </div>
                <div class="grid__unit grid__unit--quarter">
                    <ul class="footer__column u-no-points">
                        <li><a target="_blank" class="footer__link" href="https://twitter.com/bartingredients">Twitter</a></li>
                        <li><a target="_blank" class="footer__link" href="https://www.facebook.com/TheBartIngredientsCompany/">Facebook</a></li>
                        <li><a target="_blank" class="footer__link" href="https://www.instagram.com/bartingredients/">Instagram</a></li>
                        
                    </ul>             
                </div>
                <div class="grid__unit grid__unit--quarter u-pull-right">                        
                    <a href="/"><img class="brand brand--inline" src="/assets/img/brand.png"></a>
                </div>
            </div>
        </div>
    </footer>

    <section class="section section--black">
        <div class="section__row">
            <p>Copyright &copy; {{ "now" | date: "%Y" }} Bart Ingredients</p>
        </div>
    </section>


    <a target="_window" class="section banner banner__link" href="https://bart-ingredients.co.uk/">
        <span class="section__row">Find out more about Bart Ingredients</span></a>            