<header>
    <div class="hero" style="background-image: url({{ page.image }})">
        <div class="opacity">
            <h1 class="hero__strap">{{ page.title }}</h1>
            <div class="hero__down">
                <a href="#content" class="icon icon--down"></a>
            </div>
        </div>        
    </div>
    <div class="section section--extra-bottom hero__base">
        <div class="section__row">
            <a href="/" class="brand hero__base__brand">
                <img alt="Bart Spices Logo" src="/assets/img/brand.png"></a>

            <div class="hero__base__jars">    
                <a href="/smoked-garlic-paste/" class="jar hero__base__jars__jar{{ page.jars.smoked_modifier }}">
                    <img alt="Jar of Bart's Smoked Garlic" src="/assets/img/jar_smoked.png"></a>
                
                <a href="/black-garlic-paste/" class="jar hero__base__jars__jar{{ page.jars.black_modifier }}">
                    <img alt="Jar of Bart's Black Garlic" src="/assets/img/jar_black.png"></a>
            </div>

            <div class="hero__base__intro">
                {{ page.base }}
            </div>
        </div>
    </div>
</header>

<div id="content"></div>
