<header>
    <div class="hero" style="background-image: url({{ page.image }})">
        <div class="opacity">
            <h1 class="hero__strap">{{ page.title }}</h1>
        </div>
    </div>
    <div class="section section--extra-bottom hero__base">
        <div class="section__row">
            <a href="/" class="brand hero__base__brand">
                <img alt="Bart Spices Logo" src="/assets/img/brand.png"></a>

            {{ page.jars }}

            <div class="hero__base__intro">
                {{ page.base }}
            </div>
        </div>
    </div>
</header>
