.banner{
    padding: 0 $padding;
    background: $green;
    line-height: 30px;
    a{
        color: #fff;
    }
    &__cancel{
        float: right;
        text-decoration: none;
        font-weight: bold;
    }
}