.button{
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    border: 0;
    background: $green;
    line-height: 30px;
    padding: 0 $padding;
    font-size: 1em;
    color: #111;
    font-family: 'DIN Medium';
    &--red{
        background: $red;
        color: #fff;
    }
}