.hero{
    background-repeat: no-repeat;
    background-color: #333;
    background-size: cover;
    padding-top: 50%;
    text-align: center;

    &__down{
        position: absolute;
        width: 100%;
        bottom: $padding;
        display: none;
    }

    &__strap{
        position: absolute;
        width: 100%;
        top: 50%;
        line-height: 1;
        margin-top: -14vw;
        font-size: 12vw;
        font-family: 'Atmosphere Script Typeface';
        font-weight: normal;
        color: #fff;
    }
    &__base{
        margin-top: -54px;        
        text-align: center;
        &__jars{
            &__jar{
                z-index: 1;
                width: 40vw;
                max-width: 145px;
                padding: $padding;
                display: inline-block;                
            }
        }        

        @media only screen and (min-width: $break) {

            text-align: left;
            
            &__jars{
                top: -9vw;
                position: absolute;
                right: 0;
                &__jar{
                    width: 14vw;
                    padding: $padding*.25;
                    padding-right: 0;
                }
            }
        }
    }
    @media only screen and (min-width: $break) {
        
        &__down{                
            display: block;
        }

    }
}