.u-{
    &no-points{
        list-style-type: none;
    }
    &green{
        color: $green;
    }
    &standard-width{
        display: inline;
        max-width: 100%;
        width: auto;
    }
    &list{
        margin-bottom: $padding;
        padding-left: $padding*2;
        &--spaced{
            li{
                margin-bottom: $padding*2;
                // font-size: 1.2em;
            }
        }
    }
    &hide{
        display: none;
    }
    @media only screen and (min-width: $break) {
        &pull-right{
            text-align: right;
        }
        &measure{
            width: 66.66%;
        }
    }
}