---
layout: default
title: 'Black<br> Garlic Paste'
permalink: /black-garlic-paste/
jars: 
    smoked_modifier: ' u-hide'
base: ''
image: /assets/img/hero_black.jpg
left: |
    <h2>Black Garlic Paste</h2>

    <p>Sweet, earthy and balsamic in flavour, black garlic is a decadent ingredient to elevate your cookery.
    White garlic bulbs are gently heated and fermented in a humid environment which turns the cloves
    sweet, dark and soft. We have used 78% premium quality black garlic cloves and blended with
    sunflower oil and lemon juice to make a paste that is easy to use.</p>
    
    <p>In fact, there are approx. 3 black garlic bulbs in every jar.</p>
    
    <h3>Inspiration:</h3>
    
    <ul class="u-list">
        <li>Try mixing a teaspoonful with some mayonnaise for a deliciously, moreish dip.</li>
        <li>Add to your tomato-based sauces and Bolognese for a flavourful, umami hit.</li>
        <li>Marinade meats before and then glaze after roasting for a lingering richness.</li>
    </ul>

    <p><a class="button button--red" href="https://market.bart-ingredients.co.uk/products/black-garlic-paste">Buy online</a></p>
right: |
    <a class="card" href="/Black-Garlic-And-Chipotle-Roast-Beef/">                    
        <div class="card__img" style="background-image: url(/assets/img/hero_roast_beef.jpg)"></div>
        <div class="card__jar">
            <img src="/assets/img/jar_black.png">
        </div>
        <div class="card__link">Black Garlic &amp; Chipotle Roast Beef</div>
    </a> 
---
{% include hero.html %}
{% include cols.html %}