---
---

// Variables //////////

$padding: 10px;
$green: #c2d500;
$red: #e42313;
$break: 600px;
$break2: 800px;

// Includes //////////

@import "globals";
@import "font";
@import "hero";
@import "brand";
@import "jar";
@import "banner";
@import "opacity";
@import "section";
@import "grid";
@import "card";
@import "footer";
@import "button";
@import "form";
@import "type";
@import "icon";
@import "utils";

// Pages //////////

.stroganoff{
    .hero__strap{
       //  top: 36%;
    }
}

.recipe{
    .cols{
        .grid{
            display: flex;            
            flex-direction: column-reverse;
        }
    }
}

@media only screen and (min-width: $break) {
    .recipe{
        .cols{
            .grid{
                flex-direction: row-reverse;
            }
        }
    }
}