---
---

$padding: 10px;
$green: #c2d500;
$red: #e42313;
$break: 600px;
$break2: 800px;

@import "globals";
@import "font";
@import "hero";
@import "brand";
@import "jar";
@import "banner";
@import "opacity";
@import "section";
@import "grid";
@import "card";
@import "footer";
@import "button";
@import "form";
@import "type";

.u-{
    &no-points{
        list-style-type: none;
    }
    &green{
        color: $green;
    }
    &standard-width{
        display: inline;
        max-width: 100%;
        width: auto;
    }
    &list{
        margin-bottom: $padding;
        padding-left: $padding*2;
        &--spaced{
            li{
                margin-bottom: $padding*2;
                // font-size: 1.2em;
            }
        }
    }
    &hide{
        display: none;
    }
    @media only screen and (min-width: $break) {
        &pull-right{
            text-align: right;
        }
        &measure{
            width: 66.66%;
        }
    }
}

////////////

.stroganoff{
    .hero__strap{
        top: 36%;
    }
}

.recipe{
    .cols{
        .grid{
            flex-direction: row;
        }
    }
}

@media only screen and (min-width: $break) {
    .recipe{
        .cols{
            .grid{
                flex-direction: row-reverse;
            }
        }
    }
}